.App {
  text-align: center;
  /*margin: 0;*/
  background-color: #587291;
  height: 100vh;
}

.container {
  margin-top: 30px;
}

p {
  margin: 0;
  padding: 0;
}

.navigation {
  height: 5vh;
  width: 100vw;
  background-color: #2F394D;
  display: block;
}

.title {
  font-size: 22px;
  color: white;
  font-weight: bold;
  /*margin-top: 4px;*/
  padding-top: 3px;
}

.box {
  width: 40vw;
  height: 20vh;
  background-color: #2F97C1;
  color: white;
  display: inline-block;
  margin: 10px 5px;
}

.game-type {
  /*height: 100px;*/
  line-height: 150px;
  font-weight: bold;
  /*white-space: nowrap;*/
}

.box:hover {
  background-color: #077187;
}

.box p {
  font-size: 20px;
}


/*Take 5*/
.take-five {
  width: 100vw;
  height: 83vh;
}

.new-take-5-number-styles {
  width: 7%;
  background-color: #B6244F;
  padding: 6px;
  border-radius: 100%;
  display: inline-block;
  font-size: 19px;
  color: white;
  margin: 4px;
}

.new-take-5-number-styles:hover {
  background-color: #E8C547;
  color: black;
}

.selected-number {
  width: 7%;
  padding: 6px;
  border-radius: 100%;
  display: inline-block;
  font-size: 19px;
  margin: 4px;
  background-color: #E8C547;
  color: black;
}

.take-5-number-styles {
  width: 10%;
  background-color: #9DC4B5;
  padding: 6px;
  border-radius: 100%;
  display: inline-block;
  font-size: 25px;
  color: white;
  margin: 1px 10px;
}

.list {
  width: 80%;
  list-style: none;
  padding: 0;
  text-align: center;
  display: inline-block;
  /*margin: 10px;*/
}

.new-numbers {
  width: 100vw;
  background-color: #B6174B;
  padding: 2px 0px;
}

.old-numbers {
  width: 100vw;
  background-color: #445E93;
  padding: 3px 0px;
}

.submit-take-5 {
  background-color: #274060;
  padding: 4px;
  font-size: 20px;
  color: white;
}

.submit-take-5:hover {
  background-color: #1B2845;
}

.previous-numbers-text {
  font-size: 30px;
  margin: 40px 0px;
  color: #29335C;

}

.take-5-delete-button {
  background-color: #F0C808;
  padding: 5px;
  font-size: 15px;
  display: inline;
  border-radius: 10%;
}


.go-home {
  color: white;
  background-color: #077187;
  padding: 8px;
  font-size: 20px;
  display: inline-block;
}

/*Footer*/
.footer {
  background-color: #2F394D;
  margin-top: 13px;
  padding: 15px;
  /*position: relative;*/
}

.footer p {
  color: white;
  font-size: 8px;
}






